[Desktop Entry]
Version=1.0
Type=Link
Name=Build a simple REST API using Go, MySQL, Gorm, and mux | by ABHI KHANDELWAL | Level Up Coding
Comment=
Icon=google-chrome
URL=https://levelup.gitconnected.com/build-a-rest-api-using-go-mysql-gorm-and-mux-a02e9a2865ee
