[Desktop Entry]
Version=1.0
Type=Link
Name=Como fazer squash de commits no Git | iMasters
Comment=
Icon=google-chrome
URL=https://imasters.com.br/desenvolvimento/como-fazer-squash-de-commits-no-git
