[Desktop Entry]
Version=1.0
Type=Link
Name=Exemplos de Exp em Golang, exemplos de math.Exp em Golang - HotExamples
Comment=
Icon=google-chrome
URL=https://golang.hotexamples.com/pt/examples/math/-/Exp/golang-exp-function-examples.html
