[Desktop Entry]
Version=1.0
Type=Link
Name=go - How to do a many-to-many query - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/68875768/how-to-do-a-many-to-many-query
