[Desktop Entry]
Version=1.0
Type=Link
Name=How to serve up a JSON response using Go? - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/31622052/how-to-serve-up-a-json-response-using-go
