[Desktop Entry]
Version=1.0
Type=Link
Name=Reflection in Golang - GeeksforGeeks
Comment=
Icon=google-chrome
URL=https://www.geeksforgeeks.org/reflection-in-golang/
