[Desktop Entry]
Version=1.0
Type=Link
Name=What is the `zero` value for time.Time in Go? - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/23051973/what-is-the-zero-value-for-time-time-in-go
