[Desktop Entry]
Version=1.0
Type=Link
Name=Exemplos de DB.Delete em Golang, exemplos de github.com/jinzhu/gorm.DB.Delete em Golang - HotExamples
Comment=
Icon=google-chrome
URL=https://golang.hotexamples.com/pt/examples/github.com.jinzhu.gorm/DB/Delete/golang-db-delete-method-examples.html
