[Desktop Entry]
Version=1.0
Type=Link
Name=go - How to convert float to string - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/53312828/how-to-convert-float-to-string
