[Desktop Entry]
Version=1.0
Type=Link
Name=go - How to get the last element of a slice? - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/22535775/how-to-get-the-last-element-of-a-slice
