[Desktop Entry]
Version=1.0
Type=Link
Name=go - Convert an integer to a float number - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/19230191/convert-an-integer-to-a-float-number
