[Desktop Entry]
Version=1.0
Type=Link
Name=go - How to do a one-to-one relationship in GORM? - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/47084617/how-to-do-a-one-to-one-relationship-in-gorm
