[Desktop Entry]
Version=1.0
Type=Link
Name=go - Gorm Golang orm associations - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/29435783/gorm-golang-orm-associations
