[Desktop Entry]
Version=1.0
Type=Link
Name=go - Querying Many to Many with Conditions - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/69260382/querying-many-to-many-with-conditions
