[Desktop Entry]
Version=1.0
Type=Link
Name=go - golang switch got an ` used as value` error?
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/36807948/golang-switch-got-an-used-as-value-error
