[Desktop Entry]
Version=1.0
Type=Link
Name=go - What does Preload function do in gorm? - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/59471501/what-does-preload-function-do-in-gorm
