[Desktop Entry]
Version=1.0
Type=Link
Name=Go filter slice - filtering a slice in Golang
Comment=
Icon=google-chrome
URL=https://zetcode.com/golang/filter-slice/
