[Desktop Entry]
Version=1.0
Type=Link
Name=Range Keyword in Golang - GeeksforGeeks
Comment=
Icon=google-chrome
URL=https://www.geeksforgeeks.org/range-keyword-in-golang/
