[Desktop Entry]
Version=1.0
Type=Link
Name=Return nil struct instead of empty struct go-gorm - Stack Overflow
Comment=
Icon=google-chrome
URL=https://stackoverflow.com/questions/52575750/return-nil-struct-instead-of-empty-struct-go-gorm?rq=1
