[Desktop Entry]
Version=1.0
Type=Link
Name=SliceTricks · golang/go Wiki
Comment=
Icon=google-chrome
URL=https://github.com/golang/go/wiki/SliceTricks
