[Desktop Entry]
Version=1.0
Type=Link
Name=Creating a RESTful API With Golang | TutorialEdge.net
Comment=
Icon=google-chrome
URL=https://tutorialedge.net/golang/creating-restful-api-with-golang/
