[Desktop Entry]
Version=1.0
Type=Link
Name=Diferença entre PUT e PATCH | HTTP: Entendendo a web por baixo dos panos | Solucionado
Comment=
Icon=google-chrome
URL=https://cursos.alura.com.br/forum/topico-diferenca-entre-put-e-patch-44669
