[Desktop Entry]
Version=1.0
Type=Link
Name=Fetch Data using One To Many Relationship in GORM - Learn Programming with Real Apps
Comment=
Icon=google-chrome
URL=https://learningprogramming.net/golang/gorm/fetch-data-using-one-to-many-relationship-in-gorm/
