[Desktop Entry]
Version=1.0
Type=Link
Name=Golang Blog - Most Popular Golang Slice Sort, Reverse, Search Functions - golangprograms.com
Comment=
Icon=google-chrome
URL=https://www.golangprograms.com/golang/sort-reverse-search-functions/
