[Desktop Entry]
Version=1.0
Type=Link
Name=Google OAuth2 Authentication in Golang · Async Blog
Comment=
Icon=google-chrome
URL=https://www.loginradius.com/blog/async/google-authentication-with-golang-and-goth/
