[Desktop Entry]
Version=1.0
Type=Link
Name=Goroutines e go channels. Programação concorrente com GoLang | by Evandro F. Souza | Training Center | Medium
Comment=
Icon=google-chrome
URL=https://medium.com/trainingcenter/goroutines-e-go-channels-f019784d6855
