[Desktop Entry]
Version=1.0
Type=Link
Name=How to use Postgresql with Golang | by Rishabh IO | Medium
Comment=
Icon=google-chrome
URL=https://rishabh.io/how-to-use-postgresql-with-golang-690f12f008ea
