[Desktop Entry]
Version=1.0
Type=Link
Name=How to List Users in PostgreSQL | ObjectRocket
Comment=
Icon=google-chrome
URL=https://kb.objectrocket.com/postgresql/how-to-list-users-in-postgresql-782
