[Desktop Entry]
Version=1.0
Type=Link
Name=OAuth2 with Google Account (gmail) in GO — GoLang | by Balakrishnan Nalin Prashanth | Medium
Comment=
Icon=google-chrome
URL=https://medium.com/@bnprashanth256/oauth2-with-google-account-gmail-in-go-golang-1372c237d25e
