[Desktop Entry]
Version=1.0
Type=Link
Name=Golang Rest Api: Build Your First Rest API with GO - DEV Community
Comment=
Icon=google-chrome
URL=https://dev.to/moficodes/build-your-first-rest-api-with-go-2gcj
