[Desktop Entry]
Version=1.0
Type=Link
Name=How I Built an API with Mux, Go, PostgreSQL, and GORM - DEV Community
Comment=
Icon=google-chrome
URL=https://dev.to/aspittel/how-i-built-an-api-with-mux-go-postgresql-and-gorm-5ah8
