[Desktop Entry]
Version=1.0
Type=Link
Name=Foreign key in DBMS
Comment=
Icon=google-chrome
URL=https://beginnersbook.com/2015/04/foreign-key-in-dbms/
