[Desktop Entry]
Version=1.0
Type=Link
Name=tonsky/FiraCode: Free monospaced font with programming ligatures
Comment=
Icon=google-chrome
URL=https://github.com/tonsky/FiraCode
