[Desktop Entry]
Version=1.0
Type=Link
Name=How to squash commits in git
Comment=
Icon=google-chrome
URL=https://gist.github.com/patik/b8a9dc5cd356f9f6f980
