[Desktop Entry]
Version=1.0
Type=Link
Name=Associations - Powered by MinDoc
Comment=
Icon=google-chrome
URL=https://doc.xuwenliang.com/docs/gorm/associations
